// Beta/Test configuration for Footprint
CURRENT_PROJECT_VERSION = 2005
MARKETING_VERSION = 2.09
PRODUCT_BUNDLE_IDENTIFIER = Mooyu.Footprint.beta
PRODUCT_NAME = "Footprint Test"
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconBeta
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
SWIFT_ACTIVE_COMPILATION_CONDITIONS = BETA
INFOPLIST_KEY_CFBundleDisplayName = "墨鱼足迹Beta"
INFOPLIST_KEY_BetaApprovalDate = $(BETA_APPROVAL_DATE)
ENABLE_USER_SCRIPT_SANDBOXING = NO

